.about {
  background-color: #fcfaef;
  padding: $section-padding-top 0 $section-padding-bottom;

  @media (max-width: 744px) {
    padding: $section-padding-top-s 0 $section-padding-bottom-s;
  }

  & .container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__text {
    max-width: 415px;
    width: 100%;
    font-size: $size-m;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  @media (max-width: 744px) {
    & .container {
      flex-direction: column;
    }
  }
}
