.hero {
  background-image: url('../images/Hero/Hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  & .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: $color-white;
    font-size: $size-title;
    line-height: 1;
    padding-bottom: 64px;
    font-weight: 700;

    @media (max-width: 1260px) {
      font-size: $size-title-md;
    }

    @media (max-width: 744px) {
      font-size: $size-title-s;
    }
  }
}
