.image {
  background-image: url(../images/logic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 460px;

  @media (max-width: 1260px) {
    height: 400px;
  }

  @media (max-width: 744px) {
    height: 200px;
  }
}
