.recommended {
  padding-top: $section-padding-top;

  @media (max-width: 744px) {
    padding-top: $section-padding-top-s;
  }
  &__cards {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 1260px) {
      flex-direction: column;
    }
  }
  &__card {
    max-width: 324px;
    width: 100%;
    transition: scale 0.3s ease;

    &:hover {
      scale: 1.05;
    }

    @media (max-width: 1260px) {
      max-width: 100%;
    }

    &-img {
      border-radius: 4px;
      margin-bottom: 24px;

      @media (max-width: 1260px) {
        max-width: 100%;
        width: 100%;
      }
    }
    &-title {
      font-size: $size-l;
      line-height: 140%;
      font-weight: 700;
    }
    &-description {
      font-size: $size-m;
      line-height: 140%;
      margin-top: 8px;
    }
    &-price {
      margin-top: 12px;
      font-weight: 700;
      font-size: $size-m;
      line-height: 140%;
    }
  }
}
