@import './reset';
@import './variables';
@import './blocks/Hero';
@import './blocks/Header';
@import './blocks/Burger';
@import './blocks/Recommended';
@import './blocks/Gallery';
@import './blocks/Image';
@import './blocks/About';
@import './blocks/Contact';

body {
  margin: 0;
  color: $color-black;
  font-family: Manrope, sans-serif;
}

.container {
  max-width: $container-width;
  padding: $container-paddings;
  margin: 0 auto;
}

.body--lock {
  overflow: hidden;
}

.section--title {
  font-size: $size-xl;
  line-height: $size-xl;
  font-weight: 700;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 1260px) {
  .container {
    padding: $container-paddings-md;
  }

  .section--title {
    font-size: $size-xl-md;
  }
}

@media (max-width: 744px) {
  .container {
    padding: $container-paddings-sm;
  }
  .section--title {
    font-size: $size-xl-s;
  }
}
