// Size container
$container-width: 1260px;
$container-paddings: 0 120px;
$container-paddings-md: 0 72px;
$container-paddings-sm: 0 20px;

// Font Sizes
$size-xs: 12px;
$size-s: 14px;
$size-m: 16px;
$size-l: 18px;
$size-lg: 22px;
$size-xl: 48px;
$size-title: 56px;

// Font Sizes medium
$size-xl-md: 40px;
$size-title-md: 48px;

// Font Sizes small
$size-xs: 12px;
$size-s: 14px;
$size-m: 16px;
$size-l: 18px;
$size-lg-s: 18px;
$size-xl-s: 32px;
$size-title-s: 36px;

// Icons Size
$icons-size: 32px;
$icons-size-sm: 24px;

// Colors
$color-white: #fff;
$color-black: #1b2129;
$color-orange: #f98921;

// Sections padding
$section-padding-top: 120px;
$section-padding-bottom: 120px;
$section-padding-top-s: 60px;
$section-padding-bottom-s: 60px;
